@import url('https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

iframe {
    max-width: 90%;
    margin-bottom: 30px;
}

/* Navigation styles */

.nav {
    display: flex;
    justify-content: flex-end;
    background-color: #4d4d4d;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.nav > .nav-header {
    width: 60%;
    display: flex;
}

.nav > .nav-header > .nav-title {
    font-size: 22px;
    color: #fff;
    padding: 10px;
}

.nav > .nav-btn {
    display: none;
}

.nav > .nav-links {
    display: flex;
    justify-items: center;
    font-size: 18px;
    padding: 0 15px;
}

.nav > .nav-links > a {
    padding: 13px 10px;
    text-decoration: none;
    color: #efefef;
}

.nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
    display: none;
}

/* Header styles */
header {
    background-image: url('https://images.unsplash.com/photo-1532584615605-f4525a324e41?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2002&q=80');
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    position: relative;
}

header::after {
    content: '';
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.8;
}

header * {
    position: relative;
    z-index: 1;
}


.container {
    padding: 1em;
    width: 100%;
    text-align: center;
}

.container-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 700px;
    margin: 0 auto;
 }

 .container h1 {
     color: #eee;
 }

.dropdown {
    margin: 1em 0;
    padding: 0.5em;
    font-size: 1.2em;
}

.flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    min-height: 66vh;
}

.flex h2 {
    letter-spacing: 1px;
    margin: 10px 0;
}

.flex h4 {
    margin: 0;
    letter-spacing: 1px;
}

.box {
    background-color: #fff;
    border: 1px solid #4d4d4d;
    border-radius: 10px;
    margin: 0 1.66%;
    width: 30%;
    opacity: 0.8;
    padding: 10px; 
    text-align: center;
}

.box.confirmed {
    
    color: #e53e3e;
   }

.box.recovered {
    color: #38a169;
}

.box.deaths {
    color: #718096;
}

/* Section */
section {
    text-align: center;
}

section h2 {
    font-size: 24px;
    margin-top: 15px;
}

section p {
    color: #888;
    font-size: 16px;
    line-height: 2;
    max-width: 700px;
    margin: 0 auto;
}

.gradient-text-blue {
    background: -webkit-linear-gradient(#17EAD9 , #6078EA );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Footer Styles */

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

@media screen and (min-width: 900px) {
    .flex {
        flex-wrap: nowrap;
    }

    .box {
        margin: 1em;
        max-width: 300px;
        line-height: 1.5;
        font-size: 2em;
    }
}

@media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(30vh - 50px);
      overflow-y: auto;
    }
  }